{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>Cadastro de produtos</h1>
    {% bootstrap_messages %}
    <form action="{% url 'url_cad_produto' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Digite o nome..." class="form-control" required>
        <br>
        <input type="text" name="preco" placeholder="Digite o preço..." class="form-control" required>
        <br>
        <input type="text" name="qtde" placeholder="Digite a quantidade..." class="form-control" required>
        <br>
        <input type="submit" name="btnSalvar" value="Salvar" class="btn btn-success">
    </form>

</body>
</html>