{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>PAGINA INICIAL</h1>
    {% csrf_token %}

    <form action="{% url 'url_produto' %}" method="GET">
        <input type="submit" name="btn_produto" value="Lista de Produtos" class="btn btn-success">
    </form>

    <form action="{% url 'url_cad_cliente' %}" method="GET">
        <input type="submit" name="btn_novo_cliente" value="Novo Cliente" class="btn btn-success">
    </form>
    <form action="{% url 'url_registrar_venda' %}" method="GET">
        <input type="submit" name="btn_novo_venda" value="Nova Venda" class="btn btn-success">
    </form>
</body>
</html>